body {
    background-color: black;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
    width: 980px;
}

#a {
    font-size: 80px;
    color:rgb(175, 154, 32);
}

#b {
    background: linear-gradient(green, black);
    border-radius: 50px;
    border-color: blueviolet;
    border-image: 34px 34px 34px 34px;
    margin-left:50px;
}
#div1{
    padding-bottom: 24px;
    padding-top: 100px;
    align-items: center;
    background-color: #fff;
    border: none;
    margin-top: 90px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 20px 0 28px;
    width: 396px;
    text-align: center;
    display: block;
    line-height: 1.34;
    float:left;
}
#username{
    font-family: inherit;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    background: #FFFFFF;
    border: 1px solid #dddfe2;
    color: #1d2129;
    text-rendering: auto;
    display: inline-block;
    text-align: start;
}
#password{
    font-family: inherit;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    background: #FFFFFF;
    border: 1px solid #dddfe2;
    color: #1d2129;
    text-rendering: auto;
    display: inline-block;
    text-align: start;
}
#submit{
    background-color: #166fe5;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    color:white;
}
#forget{
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
}
#signup{
    color:white;
    background-color: #42b72a;;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 250px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
#div2{
    float:left;
    border:1px solid black:
    border-sizing:border-box;
    padding-right:95px;
    padding-left:-10px;
}